*{
    margin: 0;
    box-sizing: border-box;
}
html, body{
    max-width: 2500px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}
.navbar{
    max-width: 2500px; 
    margin: 0 auto;   
}
.btn{
    margin-left: 10px;
    margin-top: 10px;
}
.form-control{
    margin-top: 10px;
}
header{
    background-color: rgb(249, 248, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    transition: ease-in-out .4s;
    margin: 20px;
}
.logo:hover{
    transform: scale(1.15);
}
.menu > a{
    margin: 20px;
    color: black;   
    text-decoration: none;
    font-weight: bold;
}
.menu > a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
}
.fresh-life{
    background-image: url(../img/img1.png);
    background-color: rgb(249, 248, 251);
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-fresh{
    width: 300px;
    margin: 20px;
}
.box-fresh >p{
    margin: 10px 0 10px 0;
} 
.bton{
    background-color: rgb(255, 96, 51 );
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    transition: ease-in-out .4s;
}
.bton:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.scroll{
    display: flex;
    justify-content: center;
}
.about-us{
    background-color: rgb(0, 188, 188);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-us{
    width: 300px;
    color: white;
    margin-right: 100px;
}
.text-us>p{
    margin-top:10px;
}
.services{
    background-color: rgb(112, 191, 255);
    height: 800px;display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnServs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.buttonServices{
    display: flex;
    flex-direction: column;
    
}
.btnServs{
    width: 350px;
    height: 70px;
    margin: 10px;
    border: none;
    transition: ease-in-out .4s;
    /* text-transform: uppercase; */
}
.btnServs:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: yellow;
}
.btnServs:active{
    /* background-color: tomato; */
    background-color: rgba(231, 105, 105, 0.8);
}
.btnServs>svg{
    margin-right: 10px;
}
.blockTomato{
    position: relative;
    width: 500px;
}
.textTomato{
    position: absolute;
    top: 40%;
    
    color: white;
    font-weight: bold;
    font-size: 5em;
}
.gallery{
    height: 1534px;
    background-color: #ffe92f;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galleryGrid{
    width: 1200px;
    height: 940px;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    cursor: pointer;
}
.galleryHead{
    width: 70%;
    text-align: center;
}
.galleryHead>h2{
    font-size: 50pt;
}
.conteinerGrid1{
    background-image: url(../img/gridPersio.png);
    grid-column-start: 1;
    grid-column-end: 9; 
    grid-row-start: 1;
    grid-row-end: 7;
    background-size: 100% 100%;
    
}
.hoverGrid{
    transition: ease-in-out .4s;
}
.hoverGrid:hover{
    transform: scale(1.05);
}

.conteinerGrid2{
    background-image: url(../img/berryimg1.png);
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    background-size: 100% 100%;
}
.conteinerGrid3{
    background-image: url(../img/gridmulberry.png);
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;
    background-size: 100% 100%;
}
.conteinerGrid4{
    background-image: url(../img/gridCream.png);
    grid-column-start: 1;
    grid-column-end: 7;  
    grid-row-start: 7;
    grid-row-end: 14;
    background-size: 100% 100%;
}
.conteinerGrid5{
    background-image: url(../img/gridFruit.png);
    grid-column-start: 7;
    grid-column-end: 13; 
    grid-row-start: 7;
    grid-row-end: 14;
    background-size: 100% 100%;
}
.galleryBtn{
    margin: 52px;
    width: 200px;
    height: 55px;
    
}
.viewBtn{
    text-decoration: none;
    width: 200px;
    height: 55px;
    border: none;
    background-color: rgb(48, 107, 156);
    color: white;
    transition: ease-in-out .4s;
}
.viewBtn:hover{
    background-color: rgb(90, 135, 172);
}
.subscribe{
    height: 500px;
    background-image: url(../img/bgSubscripe.png);
    background-size: 96% 100%;
    
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscriForm,.subscribeHead{
    margin-left: 165px;
}
.inpEmail{
    width: 570px;
    height: 55px;
}
.inpSub{
    width: 170px;
    height: 55px;
    background-color: rgb(150, 185, 44);
    border: none;
}
.subscribeHead>p{
    width: 570px;
}
.blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 870px;
    background-color: rgb(176, 124, 247);
}
.blogHead{
    width: 570px;
    text-align: center;
    margin-top: 100px;
}
.blogBody{
    display: flex;
    
}
.box{
    width: 370px;
    height: 310px;
    background-color: royalblue;
    transition: ease-in-out .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.textBlog{
    margin: 10px;
}
.box:hover{
    transform: scale(1.15);
}
.Koctel{
    background-image: url(../img/kocktel.png);
    margin: 20px;
    background-size: cover;
}
.Sup{
    background-image: url(../img/sup.png);
    margin: 20px;
    background-size: cover;
}
.Raspberry{
    background-image: url(../img/rasbery.png);
    margin: 20px;
    background-size: cover;
}
.viewBlog{
    margin-bottom: 130px;
    background-color: rgb(247, 43, 59);
}
.date{
    width: 65px;
    height: 65px;
    background-color: rgba(80, 87, 96, .5);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 10px;
}
.contact{
    height: 867px;
    background-image: url(../img/bgContact.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactHead{
    text-align: center;
}
.contactBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactAdress{
    margin-left: 150px;
}
.contactForm>form{
    display: flex;
    flex-direction: column;
    
}
.contColr{
    background-color: rgba(125, 233, 233, .5);
    margin-bottom: 20px;
    width: 500px;
    height: 50px;
    border: none;
}
.contColr:focus-visible{
    background-color: rgba(51, 187, 187, 0.5);
}
.contMess{
    height: 250px;
    text-align: start;
    
}
.contBtn{
    height: 50px;
    width: 150px;
    background-color:rgba(125, 233, 233, .5);
}
.contactAdress>p:nth-child(2n+1){
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    margin-bottom: 0;
}
.contactAdress>p:nth-child(2n){
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    margin-bottom: 5px;
}
footer{
    color: rgb(163, 163, 163);
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}
.lofoFt>a{
    font-family: 'Pacifico', cursive;
    font-size: 19pt;
    text-decoration: none;
    color: rgb(163, 163, 163);
}
.textFt>p>span{
    color: rgb(255, 43, 88);
}
@media (max-width: 1200px){

}
@media (max-width: 400px){
    .fresh-life {
    height: 500px;
    }
    .box-fresh{
        margin-top: 50px;
    }
    .about-us{
        flex-direction: column;
    }
    .raspberry>img{
        width: 300px;
        height: 300px; 
    }
    .text-us{
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services{
        flex-direction: column;
    }
    .imgTomato>img{
        width: 300px;
        height: 300px; 
    }
    .blockTomato {
        width: 300px;
    }
    .textTomato{
        left: 20%;
        font-size: 2em;
    }
    .btnServs {
        width: 310px;
    }
    .gallery{
        height: 1000px;
    }
    .galleryGrid{
        width: 300px;
        height: 430px;
    }
    .hoverGrid:hover{
        transform: scale(1.5)
    }
    .subscribe{
        background-size: contain;
    }
    .subscribeHead, .subscriForm{
        margin-left: 10px;
    }
    .subscribeHead>p,.inpEmail{
        width: 300px;
    }
    .inpSub{
        margin-top: 10px;
    }
    .blogBody{
        flex-direction: column;
    }
    .box {
        width: 288px;
        height: 223px;
    }
    .blog{
        height: 1113px;
    }
    .viewBlog{
        margin-bottom:10px
    }
    .blogHead{
        margin-top:10px;
        width: 310px;
    }
    .contactBody{
        flex-direction: column-reverse;
    }
    .contColr{
        width: 300px;
        margin-left: 10px;
    }
    .contactAdress{
        margin-left: 10px;
    }
    .contBtn{
        margin-left: 10px;
    }
    footer{
        font-size: 12px;
        text-align: center;
    }
}