*{
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 7000px;
    max-width: 2500px;
    /* display: flex;
    justify-content: center; */
}
.navbar{
    /* max-width: 3000px; */
    width: 100%;
    
}
.btn{
    margin-left: 10px;
    margin-top: 10px;
}
.form-control{
    margin-top: 10px;
}
header{
    background-color: rgb(249, 248, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    transition: ease-in-out .4s;
    margin: 20px;
}
.logo:hover{
    transform: scale(1.15);
}
.menu > a{
    margin: 20px;
    color: black;   
    text-decoration: none;
    font-weight: bold;
}
.menu > a:hover{
    text-decoration: underline;
    text-decoration-color: orange;
}
.fresh-life{
    background-image: url(../img/img1.png);
    background-color: rgb(249, 248, 251);
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.box-fresh{
    width: 300px;
    margin: 20px;
}
.box-fresh >p{
    margin: 10px 0 10px 0;
} 
.bton{
    background-color: rgb(255, 96, 51 );
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    transition: ease-in-out .4s;
}
.bton:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.scroll{
    display: flex;
    justify-content: center;
}
.about-us{
    background-color: rgb(0, 188, 188);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-us{
    width: 300px;
    color: white;
    margin-right: 100px;
}
.text-us>p{
    margin-top:10px;
}
.services{
    background-color: rgb(112, 191, 255);
    height: 800px;display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnServs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.buttonServices{
    display: flex;
    flex-direction: column;
    
}
.btnServs{
    width: 350px;
    height: 70px;
    margin: 10px;
    border: none;
    transition: ease-in-out .4s;
    /* text-transform: uppercase; */
}
.btnServs:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: yellow;
}
.btnServs:active{
    background-color: tomato;
}
.btnServs>svg{
    margin-right: 10px;
}
.blockTomato{
    position: relative;
    width: 500px;
}
.textTomato{
    position: absolute;
    top: 40%;
    
    color: white;
    font-weight: bold;
    font-size: 5em;
}
